input[type='text'],
.user-data input[type='text'],
.user-data input[type='email'],
.user-data input[type='file'] {
  background-color: #1f1f1f;
  border: 1px solid #444;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;
}
