@font-face {
  font-family: 'Montserat';
  src: url('@gallery/assets/fonts/Montserat/Montserrat-Regular.ttf'); /* IE */
}
@font-face {
  font-family: 'Montserat';
  src: url('@gallery/assets/fonts/Montserat/Montserrat-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Montserat';
  src: url('@gallery/assets/fonts/Montserat/Montserrat-Italic.ttf');
  font-weight: italic;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('@gallery/assets/fonts/BebasNeue/Bebas Neue Cyrillic.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserat';
  background-color: #2c2c2c;
  color: #333;
  line-height: 1.6;
}

/* Header Styles */
header {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Montserat';
}

header nav {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

header nav a,
.nsfw-state {
  color: #f4f4f4;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
}

.h1 {
  font-size: 36px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hero Section Styles */
.hero {
  background-image: url('@gallery/assets/images/hero-image.jpg');
  background-size: cover;
  background-position: center -30px;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 48px;
  font-weight: bold;
}

/* Gallery Container */
.gallery-container {
  max-width: 100%;
  margin: 40px auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

/* Flexbox layout for the sections */
.section {
  margin-bottom: 40px;
}

/* Flexbox layout for the images */
.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, 1fr);*/
}

.image-item {
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-item img {
  width: 100%;
  object-fit: contain;
  min-height: 320px;
  max-height: 320px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-item {
    flex: 1 1 calc(50% - 15px);
    /* 2 images per row */
  }
}

@media (max-width: 480px) {
  .image-item {
    flex: 1 1 100%;
    /* 1 image per row */
  }
}

.rated-slide img {
  width: 500px;
  height: 500px;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
}
.rated-slide img:hover {
  object-fit: contain;
}

ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
}

.rated-slider:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
  --u: 1.5vmin;
  --clr: #777;
  --bg: #444857;
}

a {
  outline-offset: 4px;
}

li {
  /* flex: 1; */
}

.rated-slider li {
  flex: calc(0.1 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
}

.rated-slider li:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}

.rated-slider li:has(+ li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}

.rated-slider li:has(+ li + li:is(:hover, :focus-within)),
.rated-slider li:is(:hover, :focus-within) + li + li {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}

.rated-slider li:has(+ li + li + li:is(:hover, :focus-within)),
.rated-slider li:is(:hover, :focus-within) + li + li + li {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}

.rated-slider li:has(+ li + li + li + li:is(:hover, :focus-within)),
.rated-slider li:is(:hover, :focus-within) + li + li + li + li {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}

.rated-slider li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
.rated-slider li:is(:hover, :focus-within) + li + li + li + li + li {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}

.rated-slider li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
.rated-slider li:is(:hover, :focus-within) + li + li + li + li + li + li {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}

/* Tag Links Section */
.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 0px;
  min-height: 90px;
  gap: 20px;
  background-color: #2c2c2c;
}

.tags select {
  margin-right: 40px;
}

.tags a {
  padding: 10px 20px;
  background-color: #2c2c2c;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.6s ease-in-out;
}

.tags a:hover {
  background-color: #4e4e4e;
  border: 1px solid rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease-in-out;
}

.tag-container {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.spacer {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #09090993;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #656565;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(84, 84, 84, 0.06);
  padding: 0.25rem;
  font-size: 14px;
  max-width: 120px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgb(231, 231, 231);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #959595;
  font-weight: 600;
}

.h2 {
  font-weight: 700;
  color: #eeeeee;
  font-size: 1.6rem;
}

/* Main Content Container */
.image-detail-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

/* Two Column 70/30 Layout */
.image-detail {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Left Column (70%): Image Preview */
.image-preview {
  flex: 5;
  display: flex;
  /* align-items: flex-start;
  justify-content: center; */
}

.image-preview img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: auto;
  object-fit: cover;
}

/* Right Column (30%): Image Info */
.image-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.image-info h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}

.image-info p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #cccccc;
}

.meta-info {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

.meta-info span {
  display: block;
  margin-bottom: 8px;
}

/* Tags Section */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tags span {
  background-color: #4d4d4d;
  color: #f4f4f4;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
}

/* Original size link */
.original-size a {
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
  margin-bottom: 30px;
}

.original-size a:hover {
  text-decoration: underline;
}

/* Ratings Section */
.ratings {
  margin-bottom: 30px;
}

.ratings label {
  font-size: 18px;
  color: #cccccc;
  margin-right: 10px;
}

.ratings input[type='radio'] {
  margin-right: 5px;
}

/* Comments Section */
.comments-section {
  margin-top: 30px;
  width: 100%;
}

.comments-section h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #fff;
}

.comments-section .comment-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #666;
  background-color: #333;
  color: #f4f4f4;
  margin-bottom: 10px;
}

.comment-box button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.comment-box button:hover {
  background-color: #2980b9;
}

/* Comment List */
.comments-list .comment {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comments-list .comment .comment-author {
  font-weight: bold;
  margin-bottom: 5px;
  color: #f4f4f4;
}

.comments-list .comment .comment-text {
  color: #ccc;
}

/* More by Author Section */
.more-by-author {
  margin-top: 40px;
}

.more-by-author h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #fff;
}

.more-by-author .artworks {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.artworks .artwork-item {
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
  width: 160px;
  text-align: center;
}

.artworks .artwork-item img {
  max-width: 100%;
  border-radius: 5px;
  height: 190px;
}

.artworks .artwork-item p {
  font-size: 14px;
  color: #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tag-container {
    width: 100%;
  }
  .image-detail {
    flex-direction: column;
  }

  .image-preview img {
    max-width: 100%;
  }

  .artworks {
    flex-direction: column;
    align-items: center;
  }
}
footer {
  display: flex;
  min-height: 120px;
  background-color: #333;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (min-width: 768px) {
  input[type='text'],
  textarea {
    background-color: #1f1f1f;
    border: 1px solid #444;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
  }

  input[type='text']:focus,
  textarea:focus {
    border-color: #ffcc00;
  }
  .user-data label {
    display: block;
    font-weight: bold;
    color: #ddd;
    margin-bottom: 10px;
  }

  .container {
    max-width: 100%;
    margin: 40px auto;
    padding: 0 20px;
  }
}

.newfield-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.infoFields {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.info-field {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.block-label {
  padding-left: 20px;
}

.tab-button {
  padding: 20px;
}

.tab-button[data-state='inactive'] {
  opacity: 0.5;
}

#author-latest-images {
  margin-top: 20px;
}

.author-name {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .h2 {
    padding-left: 0px !important;
  }
  .author-block {
    width: 100%;
  }

  .author-stats {
    flex-wrap: wrap;
  }

  .author-followers,
  .author-follows,
  .author-publishes {
    width: 100%;
  }

  .author-tabs {
    width: 100%;
    flex-wrap: wrap;
  }

  .author-tabs .tab-button {
    width: 30%;
    padding: 20px !important;
    margin-right: 10px;
  }

  .infoFields {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    padding-left: 20px;
    row-gap: 10px;
  }
}
/***/

.fav-bookmark {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.fav-bookmark--active svg path {
  fill: rgb(216, 19, 19);
}
.multiselect-multiple-label {
  color: white;
}

/* Update Button */
.btn {
  color: #2b2b2b;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  transition: background-color 0.3s ease;
  background-color: white;
}

/* Update Button */
.btn--update {
  background-color: #ffcc00;
}

.btn--update:hover {
  background-color: #e6b800;
}
/* Update Button */
.btn--success {
  background-color: #62ff96;
}

.btn--success:hover {
  background-color: #4ac472;
}

/* Update Button */
.btn--danger {
  background-color: #fa1d1d;
}

.btn--danger:hover {
  background-color: #ca1313;
}

.btn--primary {
  background-color: #999;
}

.btn--primary:hover {
  background-color: #353535;
}
.btn--info {
  background-color: #2980b9;
}

.btn--info:hover {
  background-color: #3498db;
}

.btn--alert {
  background-color: #e06c2d;
}

.btn--alert:hover {
  background-color: #ff8a4b;
}

.btn--warning {
}
.btn-link {
}

.btn--default__outline {
}
.btn--primary__outline {
}
.btn--success__outline {
}
.btn--nfo__outline {
}
.btn-warning__outline {
}
.btn--danger__outline {
}
.btn--link__outline {
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.g-20 {
  gap: 20px;
}

.switch-container {
  margin: 0 auto;
  width: 400px;
  height: 60px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  justify-content: space-evenly;
  cursor: pointer;
  z-index: 10;
}

.switch-container .switch-tab {
  text-align: center;
  flex: 1;
  height: 50px;
  border-radius: 20px;
  align-self: center;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  color: black;
  align-content: center;
}

.switch-container .switch-tab--active {
  background-color: black;
  color: white;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.infoFieldVal {
  padding: 10px;
}

.switch-container .switch-tab--soon {
  position: relative;
}
.switch-container .switch-tab--soon::after {
  content: 'soon';
  position: absolute;
  background: yellow;
  top: -20px;
  right: 0;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  #main-gallery .gallery-wrapper {
    padding: 0 15px !important;
  }
}

.muted {
  font-size: 14px;
  color: #919191;
}

.section-container {
  max-width: 95%;
  margin: 50px auto;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .hero {
    background-position: center -4px;
    height: 160px;
  }
}

.tiptap,
.ProseMirror {
  color: white;
  height: 400px;
  box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.4) !important;
  padding: 10px;
  background-color: #555555;
  height: auto;
  min-height: 200px;
}

.tags-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #1e1e1e;
  padding: 0.5rem;
  width: 100%;
}

.tags-scroll {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

.tag {
  display: inline-block;
  background-color: #2a2a2a;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 9999px;
  font-size: 0.9rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
}

.tag:hover {
  background-color: #3a3a3a;
}

.paw {
  height: 40px;
  width: 40px;
  animation: pulse 2s infinite;
}
.claw {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.paw--default {
  filter: invert(84%) sepia(0%) saturate(894%) hue-rotate(199deg) brightness(102%) contrast(84%);
}

.paw--stop {
  filter: invert(29%) sepia(72%) saturate(1997%) hue-rotate(338deg) brightness(114%) contrast(100%);
}

.paw--ready {
  filter: invert(87%) sepia(93%) saturate(415%) hue-rotate(49deg) brightness(91%) contrast(92%);
}
